*{
padding: 0;
margin: 0;
box-sizing: border-box;
}


body{
    height: 100vh;
    display: grid;
    place-items: center;
    }

.call{
    width: 110px;
    height: 110px;
    background-color: dodgerblue;
    border-radius: 50%;
}

.call #icon{
    color: white;
    font-size: 6vh;
    display: grid;
    place-items: center;
    margin-top: 30px;
    animation: phone 1s infinite /*linear*/  ;
}

@keyframes phone {
5%{
    transform: rotate(40deg);
}
10%{
    transform: rotate(0);
}
20%{
    transform: rotate(50deg);
}
30%{
    transform: rotate(0);
}
40%{
    transform: rotate(55deg);
}
50%{
    transform: rotate(0)
}
80%{
    transform: rotate(35deg);
}
100%{
    transform: rotate(0);
}

}
.base{
height: 140px;
width: 140px;
background-color: transparent;
display: grid;
place-items: center;
border-radius: 50%;
border: 2px solid dodgerblue;
animation: random 3s infinite linear;
}

@keyframes random {
    10%{
        animation-delay: 1s;
     border: none;
    }


}

.call:hover{
    background-color: lightgreen;
}
.base:hover{
    border-color: lightgreen;
}